In [29]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

# 创建 Series 解构并赋值索引，索引默认从 0 开始
obj = pd.Series([1,2,3,4], index = ['a', 'b', 'c', 'd'])

# 通过索引访问
obj.a

# 直接运算 筛选
obj * 2
np.exp(obj2)
obj2 = obj[obj > 1]


print(obj)
print(obj2)


'b' in obj2

a    1
b    2
c    3
d    4
dtype: int64
b    2
c    3
d    4
dtype: int64

True

In [36]:
# 通过字典创建 Series

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)

print(obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [45]:
# Series 自动对齐数据

obj4 = Series({'nn': 'NaN', 'Texas': 71000, 'Oregon': 16000, 'asd': False})

obj3 + obj4

Ohio           NaN
Oregon     32000.0
Texas     142000.0
Utah           NaN
asd            NaN
nn             NaN
dtype: object